In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

T = pd.DataFrame()
T['price'] = [10.2, 16.0, 25.5, 36.6]
T['make'] = ['Mercedes', 'Audi', 'BMW' ,'Audi']

T

   price      make
0   10.2  Mercedes
1   16.0      Audi
2   25.5       BMW
3   36.6      Audi

In [15]:
dummyT = pd.get_dummies(T, columns=['make'])
dummyT

   price  make_Audi  make_BMW  make_Mercedes
0   10.2          0         0              1
1   16.0          1         0              0
2   25.5          0         1              0
3   36.6          1         0              0

In [22]:
categorical = T.select_dtypes(include=[object])
le = LabelEncoder()
encodedT = T.copy()

for x in categorical.columns:
    encodedT[x] = le.fit_transform(encodedT[x])

encodedT

   price  make
0   10.2     2
1   16.0     0
2   25.5     1
3   36.6     0

In [23]:
enc = OneHotEncoder()
enc.fit(encodedT)
oneHotT = enc.transform(encodedT).toarray()
oneHotT

array([[ 1.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  1.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.,  1.,  0.,  0.]])

In [24]:
t = np.linspace(0.01,1,10)
t

array([ 0.01,  0.12,  0.23,  0.34,  0.45,  0.56,  0.67,  0.78,  0.89,  1.  ])